/* Fonts used */

@font-face
{
	font-family: 'Furore';
	src: url('polices/Furore.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Acknowledgement';
	src: url('polices/Acknowledgement.otf');
	font-weight: normal;
	font-style: normal;
}
body
{
	background: url('images/fond_etoiles5.gif');
	background-size: cover;
	background-repeat: no-repeat;	
}
img
{
	width: 80%;
	height: 250px;	
}
header
{
	text-align: center;	
}
h1
{
	font-family: 'Acknowledgement';
	font-size: 70px;
	color: #F70A0E;
	text-shadow: 3px 5px 20px #F70A0E;
	margin-top: 50px;
	margin-bottom: 80px;	
}
ul
{
	border: 5px solid gold;
	border-radius: 20px;
	background: url('images/fond_etoiles.jpg');
	font-family: 'Acknowledgement';
}
li 
{
	display: inline;
	padding: 0px 40px 30px 10px;
	font-size: 25px;	
}
a
{
	color: gold;
}
p
{
	display: block;
	margin: 10px auto;
	font-family: 'Furore';
	text-align: center;
	font-size: 15px;
	width: 70%;	
}
